body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    flex-direction: column;
}

#inputs {
    display: flex;
}

input {
    margin: 0 10px;
    font-size: 16px;
    width: 50%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}